
  <center><div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default ">
        <div class="panel-heading text-center"><h2>Cree su pregunta aqui!</h2></div>
        <div class="panel-body">
            <%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h4> Algunos de los campos esta incompleto o es incorrecto</h4>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= form.label :Titulo %>
    <%= form.text_field :Titulo, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, autofocus: true, class: "form-control" %>
  </div>
 

     <div class="form-group">
              <%= form.label :etiqueta1_id %> <br />
              <%= collection_select :question, :etiq1_id, Tag.all, :id, :nombre, {include_blank: '   '}, { class: 'form-control'}%>  
      </div>

       <div class="form-group">
              <%= form.label :etiqueta2_id %> <br />
              <%= collection_select :question, :etiq2_id, Tag.all, :id, :nombre, {include_blank: '   '}, { class: 'form-control'}%>  
      </div>


   <div class="form-group">
              <%= form.label :etiqueta3_id %> <br />
              <%= collection_select :question, :etiq3_id, Tag.all, :id, :nombre, {include_blank: '   '}, { class: 'form-control'}%>  
      </div>

   <div class="form-group">
              <%= form.label :etiqueta4_id %> <br />
              <%= collection_select :question, :etiq4_id, Tag.all, :id, :nombre, {include_blank: '   '}, { class: 'form-control'}%>  
      </div>

   <div class="form-group">
              <%= form.label :etiqueta5_id %> <br />
              <%= collection_select :question, :etiq5_id, Tag.all, :id, :nombre, {include_blank: '   '}, { class: 'form-control'}%>  
      </div>
  <div class="form-group">
              <%= form.submit "Crear!", class: "btn btn-primary" %>
  </div>


<% end %>
</center>


