<body>
<% if @numero == nil %>
    <strong><h4>No ha seleccionado ninguna etiqueta! Intente nuevamente la busqueda</h4></strong>
    <%= link_to 'Volver a la pagina de inicio', root_path %>
<% else %>
<div class="container">
<% if @questions.size == 0 %>
    <br>
     <strong><h2>No hay resultados para la busqueda!!</h2></strong>
    <br>
    <% if @numero != nil %>
       <strong><h4>Usted busco por: </h4></strong>
      <% @numero.each do |numero| %>
        <strong> &nbsp -- &nbsp     <%= @tags.find(numero).nombre %> </strong>
      <% end %>
     <br>
     <br>
     <br>
     <br>
     <br>
     <% else %>
        <strong><h2>No ha seleccionado ninguna etiqueta! Intente nuevamente la busqueda</h2></strong>
     <% end %>
      <%= link_to 'Volver a la pagina de inicio', root_path %>
<% else %>
<div class="row">
  <div class="col-md-6">
<h2><strong>Usted busco por: </strong></h2>
      <% @numero.each do |numero| %>
        <h4><strong> &nbsp -- &nbsp     <%= @tags.find(numero).nombre %> </strong></h4>
      <% end %>      
  </div>
  <br>



  <div class="btn-group btn-group-justified">
         
         &nbsp
          &nbsp
          &nbsp
          &nbsp &nbsp
          &nbsp
          &nbsp
          &nbsp
         <div class="btn-group">
            <% if current_user %>
             <% if current_user.university_id != nil %>
               
               <%= link_to questions_mifacu_path, class: "like", method: :get do %>
                    <button type="button" class="btn btn-info" aria-label="Left Align">
                      <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                      <span class="badge">Filtrar preguntas relacionadas con mi facultad</span>              
                    </button>
                  <% end %>
                  <% end %>
            <%end%>
          </div>  
          &nbsp
          &nbsp
          &nbsp
          &nbsp
          &nbsp
        <div class="btn-group">
          <%= link_to questions_mina_path, class: "like", method: :get do %>
                    <button type="button" class="btn btn-info" aria-label="Left Align">
                      <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                      <span class="badge">pregunta con menos respuestas</span>              
                    </button>
                    <% end %>
        </div>
         &nbsp
          &nbsp
          &nbsp
          &nbsp
          &nbsp
        
       
        <%= link_to universities_maxq_path, class: "like", method: :get do %>
                    <button type="button" class="btn btn-info" aria-label="Left Align">
                      <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                      <span class="badge">Facultades con mas preguntas</span>              
                    </button>
                    <% end %>
        </div>
     
 </div>

<br>
<h3><%= link_to 'Volver a la pagina de inicio', root_path %></h3>
<br>
<table  id="myTable"  class="table table-hover ">
  <% if @query != nil %>
   
  <footer>  </footer>
    <h3 ><strong>Usted busco por: "<%=  @query  %>"  </strong></h3>
  <% end %>
    <tr>
      <th>Facultad</th>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Etiquetas</th>
      <th>Mas detalle</th>
      <th colspan="3"></th>
    </tr>

 
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.university.try(:nombre) %></td>
        <td><%= question.titulo %></td>
        <td>  <%= question.descripcion %></td>

        <td><% question.tags.each do |tag| %>
          <%= tag.nombre %>
        <% end %> 
        </td>
        <td><%= link_to 'Ver pregunta', question %></td>      
      </tr>
    <% end %>

</table>

<br>

<% if current_user %>
<% if current_user.marca == false %>
  <% if current_user.puntaje >= Permit.first.create_question_answer %>
    <h4><strong><%= link_to 'Nueva pregunta', new_question_path %></strong></h4>
  <% end %>
<% end %>
<% end %>

<% end %>
<!--, question, method: :delete, data: { confirm: '¿Estas seguro?' }  -->
<% end %>
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

</div>

</body>