<p id="notice"><%= notice %></p>

<h1>Preguntas mas recientes</h1>

<table>
  <thead>
    <tr>
      <th>Ultimas Preguntas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.titulo %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tienes una duda? Pregunta aqui!', new_question_path %>
