

<h3><strong>Mis preguntas</strong></h3>
<% if @questions.size == 0 %>
    <h5><strong>Vaya! Todavia no has creado ninguna pregunta!</strong></h5>
    <h5><strong><%= link_to 'Crea una pregunta aqui', new_question_path %></strong></h5>
    <br>
    <h6><strong><%= link_to 'Volver atras', users_show_path(:id => current_user.id) %></strong></h6>
    <br>
<% else %>
<%= link_to 'Volver atras', users_show_path(:id => current_user.id) %>
<br>
<table  id="myTable"  class="table">

    <tr class="header">
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Mas detalle</th>
      <th>Modificar</th>

      <th colspan="3"></th>
    </tr>

 
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.titulo %></td>
        <td><%= question.descripcion %></td>




   
          <td><%= link_to 'Ver pregunta', question %></td>

          <td><%= link_to 'Editar pregunta', edit_question_path(question) %></td>

         
       <!-- <td><%= link_to 'Eliminar pregunta'%></td> -->

      </tr>
    <% end %>

</table>
<% end %>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>















<br>
