<br>
<div class="container">
   <form>
                            
   <input type="button" value="Volver atrás" name="volver atrás2" onclick="history.back()" />
                            
</form>
<br>
<h6>

        <strong>Creado por:</strong>
        <%= @question.user.email %>
        <% if current_user %>
         -->
        <%= link_to 'Ver perfil', users_show_path(:id => @question.user.id), :class => 'navbar-link' %> 
        <%end%>



        <strong>Etiquetas:</strong>
        <% @question.tags.each do |tag| %>
              <%= tag.nombre %>
        <% end %> 
        <strong>Facultad:</strong>
        <%= @question.university.try(:nombre)%>
        <br>
        <% if current_user %>
          <% if current_user.puntaje >= Permit.first.modificar_contenido %>
          <%= link_to 'Editar pregunta', edit_question_path(@question.id) %> | 
          <%= link_to 'Eliminar pregunta' %>
          <% end %>
        <% end %>
      </h6>
      <h2>
        <strong>Titulo:</strong>  
        <%= @question.titulo %>
      </h2>
<p class="navbar-text pull-right">  <button type="button" class="btn btn-danger btn-md"> - <%= @question.get_downvotes.size %> </button>  <button type="button" class="btn btn-primary btn-md"> +  <%= @question.get_upvotes.size %> </button>  </p>
      <h4>
        <strong>Descripcion:</strong>
        <%= @question.descripcion %>
      </h4>
<p>
<% if current_user %>
<!-- agrego sentencia para verificar puntaje del usuario -->
      <% if !current_user.voted_for?(@question) %>

        <div class="row">
          <div class="col-md-3">


          <strong> ¿Que te parecio la pregunta? </strong>

          </div>


          <div class="col-md-3">

          <div class="caption" style="text-align:center;">
            <!-- para voto POSITIVO -->
          <% if current_user.puntaje >= Permit.first.votes_pos %>

          <%= link_to like_question_path(@question), class: "like", method: :put do %>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge">Me gusta   </span>              
            </button>
          <% end %>

          <%end %>
          <!-- validacion VOTO NEGATIVO -->
          <% if current_user.puntaje >= Permit.first.votes_neg %>

          <%= link_to unlike_question_path(@question), class: "like", method: :put do %>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge">No me gusta   </span>

            </button>
          <% end %>

          <% end %>
         </div>
       </div>
     </div>
      <% else %>
        <strong>Usted ya voto esta pregunta!</strong>
      <% end %>
<% else %>
<% end %>
</p>
<!--ACA SE VALIDA LOS PUNTOS PARA COMENTAR UNA PREGUNTA -->
<% if user_signed_in? %> 
    <% if current_user.puntaje >= Permit.first.comment %>
      <h5><strong>Animate a comentar!</strong></h5>
      <%= render "comment_questions/form" %>
    <% else %>
      <p><strong><%= link_to 'Por que no puedo comentar o votar correctamente? Revisa la seccion de ayuda aqui!', root_path %></strong></p>
    <% end %>
<% end %>
<p>
  <!-- LISTA comentarios de una pregunta -->
  <strong>Comentarios:</strong>


<table class="table">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @question.comment_questions.each do |q| %>
    <tr>
    <td><%= q.descripcion %> </td>


    <td>
    <p class="navbar-text pull-right">  <button type="button" class="btn btn-danger btn-md"> - <%= q.get_downvotes.size %> </button>  <button type="button" class="btn btn-primary btn-md"> +  <%= q.get_upvotes.size %> </button>  </p>
    </td>



    <td><strong>Creado por:</strong> 
    <%= q.user.email %> </td>

    <td>
       <% if current_user %>
          <% if !current_user.voted_for?(q) %>


          <div class="caption" style="text-align:center;">
          <!-- para voto POSITIVO -->
          <% if current_user.puntaje >= Permit.first.votes_pos %>
          <%= link_to like_comment_question_path(q), class: "like", method: :put do %>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge">Me gusta</span>              
            </button>
          <% end %>

          <% end %>
          <!-- validacion VOTO NEGATIVO -->
          <% if current_user.puntaje >= Permit.first.votes_neg %>
          <%= link_to unlike_comment_question_path(q), class: "like", method: :put do %>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge">No me gusta</span>              
            </button>
          <% end %>
          <% end %>

        </div>
         <% else %>
          <strong>Usted ya voto este comentario!</strong>
        <% end %>
        <% else %>
        <% end %>
    </td>
    <td>
      <% if current_user %>
       <% if current_user.id == q.user_id %>
          <% if current_user.puntaje >= Permit.first.modificar_contenido %>
          <%= link_to 'Editar' %> | 
          <%= link_to 'Eliminar' %>
          <% end %>
        <% end %>
        <% end %>
    </td>

    <br>
    </tr>
  <% end %>  
</p>
</table>

<!-- lista de RESPUESTAS de una pregunta-->

<br>
</div>
<div class="container">
<h4><strong>Respuestas:</strong></h4>


<!--SE FIJA SI HAY O NO MEJOR RESPUESTA -->


<% if !@question.best_answer_id.nil? %>
  <% @question.answers.each do |answer| %>
    <% if answer.id = @question.best_answer_id %>
        <% @c = answer %>
        <% break %>
    <% end %>
  <% end %>
  <p><strong>
    Vaya! Parece que hay una mejor respuesta elegida! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   
    


    <%= link_to @c, class: "like", method: :get do %>
      <button type="button" class="btn btn-success" aria-label="Left Align">
        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
        <span class="badge">Ver la mejor respuesta</span>              
      </button>
    <% end %>
  </strong></p>
<% end %>


<!-- ACA informa al USUARIO QUE CREO LA PREGUNTA QUE PUEDE ELEGIR UNA MEJOR RESPUESTA --> 
<% if current_user %>
<% if current_user.id == @question.user_id %>
  <% if @question.best_answer_id.nil? %>
    <h5><strong><i>Vaya! Parece que todavia no has elegido una mejor respuesta!</i></strong></h5>
    <%= link_to "Para mas informacion ve a la seccion de ayuda haciendo click aqui!", root_path %>
  <% end %>
<% end %>
<% end %>



 


 
  
  <% @question.answers.each do |answer| %>      

  
  <div class="row">
    
     <div class="col-sm-9" > <%= answer.user.email %>  
      <% if current_user %>
        <%= link_to 'Ver perfil', users_show_path(:id => answer.user.id), :class => 'navbar-link' %> 
      <%end%> dice:  


     </div>
     <div class="col-sm-3" >  <p class="navbar-text pull-right">  <button type="button" class="btn btn-danger btn-md"> - <%= answer.get_downvotes.size %> </button>  <button type="button" class="btn btn-primary btn-md"> +  <%= answer.get_upvotes.size %> </button>  </p>
  </div>

    <div class="col-sm-12" ><p class="autoajustar"> <%= answer.descripcion %></p> </div>
    
   
    
  </div>
  
    <div class="row">
    <div class="col-sm-4" > <% if current_user %>
            <% if !current_user.voted_for?(answer) %>
              <h6> 
               <!-- para voto POSITIVO -->
              <% if current_user.puntaje >= Permit.first.votes_pos %>
                <%= link_to like_answer_path(answer), class: "like", method: :put do %>
                  <button type="button" class="btn btn-info" aria-label="Left Align">
                  <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge">Me gusta </span>              
                  </button>
                <% end %>
              <% end %>
          <!-- validacion VOTO NEGATIVO -->
              <% if current_user.puntaje >= Permit.first.votes_neg %>
                <%= link_to unlike_answer_path(answer), class: "like", method: :put do %>
                  <button type="button" class="btn btn-info" aria-label="Left Align">
                  <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge">No me gusta </span>              
                  </button>
                <% end %>
              <% end %>
          <% else %>
            <strong>Usted ya voto esta respuesta!</strong>
        <% end %>
        <% end %> </div>
    <div class="col-sm-4" > <% if current_user %>
                    <% if @question.best_answer_id.nil? %> 
                      <%= link_to asigna_mejor_respuesta_question_path(question_id: @question.id, answer_id: answer.id), class: "like", method: :put do %>
                        <button type="button" class="btn btn-info" aria-label="Left Align">
                        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>

                        <span class="badge">Elegir como mejor respuesta</span>            
                       </button>
                      <% end %>
                    <% end %>
              <% end %> </div>
    <div class="col-sm-4" > <%= link_to 'Ver comentarios de esta respuesta', answer %>
        <% if current_user %>
            <% if current_user.puntaje >= Permit.first.modificar_contenido %>
              | <%= link_to 'Editar respuesta' %> | 
              <%= link_to 'Eliminar respuesta' %>
            <% end %>
        <% end %> </div>
  </div>
  
  
</div>

</body>
</html>
   
   
     
<%end%>


<%= render "answers/form" %>

</div>
<br>
<form>
                            
   <input type="button" value="volver atrás" name="volver atrás2" onclick="history.back()" />
                            
</form>
