<p id="notice"><%= notice %></p>

<p>
  <strong>Cantetiqueta:</strong>
  <%= @preguntum.cantEtiqueta %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @preguntum.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @preguntum.descripcion %>
</p>

<%= link_to 'Edit', edit_preguntum_path(@preguntum) %> |
<%= link_to 'Back', pregunta_path %>
