<p id="notice"><%= notice %></p>

<h1>Comment Questions</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>User</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_questions.each do |comment_question| %>
      <tr>
        <td><%= comment_question.descripcion %></td>
        <td><%= comment_question.user_id %></td>
        <td><%= comment_question.question_id %></td>
        <td><%= link_to 'Show', comment_question %></td>
        <td><%= link_to 'Edit', edit_comment_question_path(comment_question) %></td>
        <td><%= link_to 'Destroy', comment_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment Question', new_comment_question_path %>
