<h4>
  <strong>Descripcion del comentario:</strong>
</h4>
<h4>  <%= @comment_question.descripcion %></h4>

<h6>
  <strong>Creada por:</strong>
  <%= @comment_question.user.email %>
  <-- <%= link_to 'Ver perfil', users_show_path(:id => @comment_question.user.id), :class => 'navbar-link' %>
</h6>
<br>
 <h6><%= link_to 'Eliminar comentario', @comment_question, method: :delete, data: { confirm: 'Estas seguro de eliminar este comentario? No volvera a verse en el sitio' } %> </h6>
 <h6><%= link_to 'Volver atras',comment_report_questions_path %></h6>

        
