<p>
  <strong>Descripcion del comentario:</strong>
  <%= @comment_question.descripcion %>
</p>

<p>
  <strong>Creada por:</strong>
  <%= @comment_question.user.email %>
  <-- <%= link_to 'Ver perfil', users_show_path(:id => @comment_question.user.id), :class => 'navbar-link' %>
</p>

 <%= link_to 'Eliminar comentario', @comment_question, method: :delete, data: { confirm: 'Estas seguro de eliminar este comentario?' } %> 
<br>
<br>
 <%= link_to 'Volver atras',comment_report_questions_path %>

        
