<p id="notice"><%= notice %></p>

<h1>Question Reports</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_reports.each do |question_report| %>
      <tr>
        <td><%= question_report.titulo %></td>
        <td><%= question_report.question_id %></td>
        <td><%= link_to 'Show', question_report %></td>
        <td><%= link_to 'Edit', edit_question_report_path(question_report) %></td>
        <td><%= link_to 'Destroy', question_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Report', new_question_report_path %>
