<%= form_with(model: respuestum, local: true) do |form| %>
  <% if respuestum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(respuestum.errors.count, "error") %> prohibited this respuestum from being saved:</h2>

      <ul>
      <% respuestum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mejorResp %>
    <%= form.check_box :mejorResp, id: :respuestum_mejorResp %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc, id: :respuestum_desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
