<p id="notice"><%= notice %></p>

<h1>Respuesta</h1>

<table>
  <thead>
    <tr>
      <th>Mejorresp</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respuesta.each do |respuestum| %>
      <tr>
        <td><%= respuestum.mejorResp %></td>
        <td><%= respuestum.desc %></td>
        <td><%= link_to 'Show', respuestum %></td>
        <td><%= link_to 'Edit', edit_respuestum_path(respuestum) %></td>
        <td><%= link_to 'Destroy', respuestum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Respuestum', new_respuestum_path %>
