<p id="notice"><%= notice %></p>

<p>
  <strong>Mejorresp:</strong>
  <%= @respuestum.mejorResp %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @respuestum.desc %>
</p>

<%= link_to 'Edit', edit_respuestum_path(@respuestum) %> |
<%= link_to 'Back', respuesta_path %>
