<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @comment.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @comment.descripcion %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
