<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @comentario.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @comentario.descripcion %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
