<%= form_with(model: answer_report, local: true) do |form| %>
  <% if answer_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer_report.errors.count, "error") %> prohibited this answer_report from being saved:</h2>

      <ul>
      <% answer_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :answer_report_titulo %>
  </div>

  <div class="field">
    <%= form.label :answer_id %>
    <%= form.number_field :answer_id, id: :answer_report_answer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
