<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :user_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, id: :user_apellido %>
  </div>

  <div class="field">
    <%= form.label :mail %>
    <%= form.text_field :mail, id: :user_mail %>
  </div>

  <div class="field">
    <%= form.label :contraseña %>
    <%= form.text_field :contraseña, id: :user_contraseña %>
  </div>

  <div class="container">
    <%= form.label :facultad_id %>
    <%= collection_select :user, :university_id,University.all, :id, :nombre, prompt:true %>  
  </div>

  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
