<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.apellido %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Contraseña:</strong>
  <%= @user.contraseña %>
</p>

<p>
  <strong>Facultad:</strong>
  <%= @user.university.nombre if !@user.university.nil? %>   
</p>

<p>
  <strong>Nivel:</strong>
  <%= @user.level_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
