<%= form_for([@question,@answer]) do |form| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! No se pudo responder la pregunta!</h2>
      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/ >
  <br>
  <% if current_user %>
      <% if current_user.marca == false %>
          <div class="field">
             <div class="field">
            <%= form.text_area :descripcion, id: :answer_descripcion %>
          </div>

          
          <div class="actions">
            <%= form.submit "Enviar" %>
          </div>
      <% end %>
  <% end %>
  <% if !current_user %>
      <p><%= link_to 'Aun no estas registrado? Registrate!',new_user_registration_path %></p> 
  <% end %>
    <% if current_user %>
    <% if current_user.marca == true %>
      <p><strong>Vaya! Parece que la cuenta a la que has accedido ha perdido sus datos!</strong></p> 
      <p><strong>Esto ha ocurido porque ha sido anteriomente dada de baja y has aceptado perder tus datos</strong></p> 
  <% end %>
  <% end %>
<% end %>
