<%= form_for([@question,@answer]) do |form| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! No se pudo responder la pregunta!</h2>
      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/ >
  <br>
  <h5><strong>Animate a dar una respuesta!</strong></h5>
  <% if current_user %>
    <div class="field">
      <%= form.text_area :descripcion, id: :answer_descripcion %>
    </div>

    <%= form.hidden_field :question_id, value: @question.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    


    <div class="actions">
      <%= form.submit "Enviar" %>
    </div>
  <% end %>
  <% if !current_user %>
      <p><%= link_to 'Aun no estas registrado? Registrate!',new_user_registration_path %></p> 
  <% end %>
<% end %>
