<head>


 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


</head>

<body>
  

<br>
<div class="container">

<%= link_to 'Volver a la pregunta', @answer.question  %>

<br>
<% if current_user %>
<% if current_user.marca == false %>
<%= link_to 'Reportar', new_answer_report_path(:id => @answer.id) %> | 
<% if current_user.puntaje >= Permit.first.modificar_contenido %>
<%= link_to 'Editar respuesta', edit_answer_path(@answer.id) %> | 
  <%= link_to 'Eliminar respuesta', @answer, method: :delete, data: { confirm: 'Estas seguro de eliminar esta respuesta?' } %>
<% end %>
<% end %>
<% end %>
<h6>
  <strong>Creado por:</strong>
  <%= @answer.user.email %>
</h6>

<h4>
  <strong>Respuesta:</strong>
  <%= @answer.descripcion %>
</h4>
<% if @answer.comment_answers.size == 0 %>
  <h5><strong>Vaya! Todavia no hay comentarios para esta respuesta! Se el primero en comentarla</strong></h5>
<% end %>




<div class="container">
 
  <div id="accordion" >
    <div class="card" style="background: rgba(142, 180, 205, 0.25)">
      <div class="card-header" >
        <h7 ><strong>
              <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#comentario" >
              Comentarios
            </a>          
        </strong></h7> 
      </div>
      <div id="comentario" class="collapse hiden">
        <div class="card-body">
              <!--COMIENZO-->




<table class="table">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @answer.comment_answers.each do |d| %>
    <tr>
    <td><%= d.descripcion %> </td>
    <td><strong>Creado por:</strong> 
    <%= d.user.email %> </td>

    <td>
    <p class="navbar-text pull-right">  <button type="button" class="btn btn-danger btn-md"> - <%= d.get_downvotes.size %> </button>  <button type="button" class="btn btn-primary btn-md"> +  <%= d.get_upvotes.size %> </button>  </p>
    </td>
       <% if current_user %>

        <% if !current_user.voted_for?(d) %>

        <td>
          <div class="caption" style="text-align:center;">
          <!-- para voto POSITIVO -->
          <% if current_user.marca == false %>
          <% if current_user.puntaje >= Permit.first.votes_pos %>
          <%= link_to like_comment_answer_path(d), class: "like", method: :put do %>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge">Me gusta</span>              
            </button>
          <% end %>
          <% end %>
          <% end %>
          <!-- para voto NEGATIVO -->
          <% if current_user.marca == false %>
          <% if current_user.puntaje >= Permit.first.votes_neg %>
          <%= link_to unlike_comment_answer_path(d), class: "like", method: :put do %>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge">No me gusta</span>              
            </button>
          <% end %>
          <% end %>
          <% end %>
        </div>
         <% else %>
          <td><strong>Usted ya voto este comentario!</strong></td>
        <% end %>
        <% else %>
        <% end %>
    </td>
    <td>
      <% if current_user %>
      <% if current_user.marca == false %>
      <%= link_to 'Reportar', new_comment_report_answer_path(:id => d.id) %> | 
       <% if current_user.puntaje >= Permit.first.modificar_contenido %>
          <%= link_to 'Editar', edit_comment_answer_path(d.id) %> | 
          <%= link_to 'Eliminar', d, method: :delete, data: { confirm: 'Estas seguro de eliminar este comentario?' } %> 
        <% end %>
        <% end %>
      <% end %>
    </td>
    <br>
    </tr>
  <% end %>  

</table>




            <!--FINAL-->


        </div>
      </div>
    </div>
    
    </div>
   
  </div>



  <% if user_signed_in? %> 
    <% if current_user.marca == false %>
      <% if current_user.puntaje >= Permit.first.comment %>
          <h5><strong>Animate a comentar!</strong></h5>
          <%= render "comment_answers/form" %>
      <% else %>
          <p><strong><%= link_to 'Por que no puedo comentar o votar correctamente? Revisa la seccion de ayuda aqui!', helps_path %></strong></p>
      <% end %>
    <% end %>
  <% end %>


<% if !current_user %>
            <h5><strong><%= link_to 'Aun no estas registrado? Registrate!',new_user_registration_path %></strong></h5> 
<% end %>




</div>


</body>
