<br>
<div class="container">

<%= link_to 'Volver a la pregunta', @answer.question  %>

<br>
<%= link_to 'Editar respuesta', edit_answer_path(@answer.id) %> | 
  <%= link_to 'Eliminar respuesta', @answer, method: :delete, data: { confirm: 'Estas seguro de eliminar esta respuesta?' } %>
<h6>
  <strong>Creado por:</strong>
  <%= @answer.user.email %>
</h6>

<h4>
  <strong>Respuesta:</strong>
  <%= @answer.descripcion %>
</h4>
<% if @answer.comment_answers.size == 0 %>
  <h5><strong>Vaya! Todavia no hay comentarios para esta respuesta! Se el primero en comentarla</strong></h5>
<% end %>
<p>
 <strong>Comentarios:</strong>
<table class="table">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @answer.comment_answers.each do |d| %>
    <tr>
    <td><%= d.descripcion %> </td>
    <td><strong>Creado por:</strong> 
    <%= d.user.email %> </td>

    <td>
    <p class="navbar-text pull-right">  <button type="button" class="btn btn-danger btn-md"> - <%= d.get_downvotes.size %> </button>  <button type="button" class="btn btn-primary btn-md"> +  <%= d.get_upvotes.size %> </button>  </p>
    </td>
       <% if current_user %>

        <% if !current_user.voted_for?(d) %>

        <td>
          <div class="caption" style="text-align:center;">
          <!-- para voto POSITIVO -->
          <% if current_user.puntaje >= Permit.first.votes_pos %>
          <%= link_to like_comment_answer_path(d), class: "like", method: :put do %>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge">Me gusta</span>              
            </button>
          <% end %>
          <% end %>
          <!-- para voto NEGATIVO -->
          <% if current_user.puntaje >= Permit.first.votes_neg %>
          <%= link_to unlike_comment_answer_path(d), class: "like", method: :put do %>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge">No me gusta</span>              
            </button>
          <% end %>
          <% end %>

        </div>
         <% else %>
          <td><strong>Usted ya voto este comentario!</strong></td>
        <% end %>
        <% else %>
        <% end %>
    </td>
    <td>
      <% if current_user %>
       <% if current_user.puntaje >= Permit.first.modificar_contenido %>
          <%= link_to 'Editar', edit_comment_answer_path(d.id) %> | 
          <%= link_to 'Eliminar', d, method: :delete, data: { confirm: 'Estas seguro de eliminar este comentario?' } %>
        <% end %>
        <% end %>
    </td>
    <br>
    </tr>
  <% end %>  
</p>
</table>

  <% if user_signed_in? %> 
      <% if current_user.puntaje >= Permit.first.comment %>
          <h5><strong>Animate a comentar!</strong></h5>
          <%= render "comment_answers/form" %>
      <% else %>
          <p><strong><%= link_to 'Por que no puedo comentar o votar correctamente? Revisa la seccion de ayuda aqui!', root_path %></strong></p>
      <% end %>
  <% end %>


<% if !current_user %>
            <h5><strong><%= link_to 'Aun no estas registrado? Registrate!',new_user_registration_path %></strong></h5> 
<% end %>




</div>