<center>
<%= form_with(model: tag, local: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! Hubo un problema! </h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h6><strong>Añade una nueva etiqueta!</strong></h6>
    <%= form.text_field :nombre, id: :tag_nombre %>
    <br>
    <span class="help-block">Ejemplo: Ingenieria de software  </span>
  </div>

  <div class="actions">
    <%= form.submit "Crear!"%>
  </div>
<% end %>
<%= link_to 'Volver atras', tags_path %>
</center>

