
<h1>Tags</h1>
<h3><strong><%= link_to 'Agregar nueva etiqueta', new_tag_path %></strong></h3>
<%= link_to 'Volver atras', users_show_path(:id => current_user.id) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Detalle</th>
      <th>Modificar</th>
      <th>Eliminar</th>
      
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <% if tag.marca == false %>
          <td><%= tag.nombre %></td>
          <td><%= link_to 'Ver en Detalle', tag %></td>
          <td><%= link_to 'Modificar', edit_tag_path(tag) %></td>
          <td><%= link_to 'eliminar', tags_blogico_path(:id => tag.id,:marca => true) %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>



