
<h1>Tags</h1>
<h3><strong><%= link_to 'Agregar nueva etiqueta', new_tag_path %></strong></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Detalle</th>
      <th>Modificar</th>
      <th>Eliminar</th>
      
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.nombre %></td>
        <td><%= link_to 'Ver en Detalle', tag %></td>
        <td><%= link_to 'Modificar', edit_tag_path(tag) %></td>
        <td><%= link_to 'Eliminar', tag, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



