
<h1>Administracion de permisos</h1>
<br>
<table>
  <thead>
    <tr>
       <% @permits.each do |permit| %>
      <tr>
        <th>Puntos necesarios:</th> 
        <th><%= permit.create_question_answer %></th>
        <th><%= permit.votes_pos %></th>
        <th><%= permit.comment %></th>
        <th><%= permit.votes_neg %></th>
        <th><%= permit.adm_tag %></th>
        <th><%= permit.adm_uni %></th>
        <td><%= permit.modificar_contenido %></th>
        <th colspan="3"></th>
      
      </tr>
    <% end %>
      <td></td>
      <td>Crear preguntas o respuestas</td>
      <td>Poder votar de manera positiva</td>
      <td>Poder comentar</td>
      <td>Poder votar de manera negativa</td>
      <td>Modificar/crear/eliminar etiquetas</td>
      <td>Modificar/crear/eliminar facultades</td>
      <strong><td>Editar/eliminar comentario, respuestas, preguntas</td></strong>
    </tr>
  </thead>

  <tbody>
   
  </tbody>
</table>
<br>
 <% @permits.each do |permit| %>
<h3><%= link_to 'Modificar', edit_permit_path(permit) %></h3>
<h4><%= link_to 'Volver atras', users_show_path(:id => current_user.id) %></h4>

<% end %>
<br>

