<center>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  
  text-align: center;
  font-family: arial;
}

.title {
  color: black;
  font-size: 22px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #4567ED;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>


</head>


<body>
<p id="notice"><%= notice %></p>

<div class="card">
  <img src="https://ugc.kn3.net/i/origin/http://zancada.com/wp-content/imagenes/2012/12/facebook-profile-picture-n-copy.jpg" alt="Mi perfil" style="width:100%">
  <h1>Nombre: <%= @usuario.nombre %></h1>
  <p class="title">Facultad: <%=@uni.try(:nombre)%></p>
    <p class="title">Apellido: <%=@usuario.apellido%></p>
      <p class="title">Correo: <%=@usuario.email%></p>
      <p class="title">Puntaje: <%=@usuario.puntaje%></p>

 


<p><button>Ver mis preguntas</button></p>
<p><button>Editar perfil</button></p>
<p><button>Seccion de ayuda</button></p>
 <p><button>Eliminar mi cuenta</button></p>
 <% if countpoint > 299 %>
  <%= link_to tags_path,  class: "like", method: :get do %>
    <p><button><span class="badge">Administrar etiquetas</span>
    </button></p>
  <% end %>

<% end %>


 
</div>


</body>
</center>

