<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :usuario_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, id: :usuario_apellido %>
  </div>

  <div class="field">
    <%= form.label :mail %>
    <%= form.text_field :mail, id: :usuario_mail %>
  </div>


  <!-- <div class="field">    AL SELECCIONAR UNA FACULTAD DEBERIA GUARDARME EL ID DE ESTA (SIMILAR A TWEET)
    <%= form.label :contPuntaje %>
    <%= form.number_field :contPuntaje, id: :usuario_contPuntaje %>
  </div>
-->
  <div class="field">
    <%= form.label :contr %>
    <%= form.text_field :contr, id: :usuario_contr %>
  </div>

  <div class="container">
    <%= form.label :facultad_id %>
    <%= collection_select :usuario, :facultad_id,Facultad.all, :id, :nombre, prompt:true %>  
</div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
