<p id="notice"><%= notice %></p>

<h1>Comment Answers</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>User</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment_answers.each do |comment_answer| %>
      <tr>
        <td><%= comment_answer.descripcion %></td>
        <td><%= comment_answer.user_id %></td>
        <td><%= comment_answer.answer_id %></td>
        <td><%= link_to 'Show', comment_answer %></td>
        <td><%= link_to 'Edit', edit_comment_answer_path(comment_answer) %></td>
        <td><%= link_to 'Destroy', comment_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment Answer', new_comment_answer_path %>
