<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @comment_answer.descripcion %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment_answer.user_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @comment_answer.answer_id %>
</p>

<%= link_to 'Edit', edit_comment_answer_path(@comment_answer) %> |
<%= link_to 'Back', comment_answers_path %>
