<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @university.nombre %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @university.ubicacion %>
</p>

<%= link_to 'Editar', edit_university_path(@university) %> |
<%= link_to 'Volver', universities_path %>
