<h1><strong>Lista de denuncias del sitio</strong></h1>
<br>
<table class="table table-bordered" style="background: rgba(82, 221, 41, 0.35)">
  <thead>
    <tr>
            <tr  style="background: rgba(131, 159, 193, 0.35)">
              <th> <%= link_to 'Denuncias de comentarios en respuestas', comment_report_answers_path %>  </th> 
        <th> <%= link_to 'Denuncias de comentarios en preguntas', comment_report_questions_path %> </th> 
              <th><%= link_to 'Denuncias de respuestas' , answer_reports_path %> </th>
              <th><%= link_to 'Denuncias de preguntas' , question_reports_path %> </th>
            </tr>
           
  </thead>

  <tbody>
   
  </tbody>
</table>

<h6><%= link_to 'Volver a mi perfil', users_show_path(:id => current_user.id) %></h6>