<header>
          <nav alt="Responsive image" class="navbar navbar-default" role="navigation" style="background-color: #B4CCDF;">
          
          <!-- El logotipo y el icono que despliega el menú se agrupan
               para mostrarlos mejor en los dispositivos móviles -->
            <div class="navbar-header">

                <%= link_to root_path, class: 'navbar-brand' do %>
                <%= image_tag "logo1.png", title: "Logo", class: "logo"%>

                <a class="navbar-brand" href="#"> </a>
                <% end %> 
            </div>

        <div class=" col-lg-3">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Buscar!</button>
            </span>
            <input type="text" class="form-control" placeholder="Buscar por...">
          </div>
        </div>

          <p class="navbar-text pull-right">


            <% if current_user %>
              <h3><%= link_to 'Haga una pregunta!', new_question_path %></h3> 
            <% end %>




          </p>

          <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            Ha iniciado sesion como <strong><%= current_user.email %></strong>.
            <%= link_to 'Editar perfil', questions_path, :class => 'navbar-link' %> |
            <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |



            <% if current_user %>
                <%= link_to 'Salir', destroy_user_session_path, method: :delete , :class => 'navbar-link'%>
            <% else %>
                <%= link_to 'Ingresar', new_user_session_path, :class => 'navbar-link'%>
            <% end %>

          


          <% end %>
          </p>




          <div class="collapse navbar-collapse navbar-ex1-collapse">  
                <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar una pregunta">
                  </div>
                  <button type="submit" class="btn btn-default">Enviar</button>
                </form>

                
          </div>

      </nav>
</header>