<!DOCTYPE html>
<html>
  <head>
    <title>Educanlink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/header' %>
  </head>
<body>

  <% flash.each do |key, value| %>
  <center>
    <div class="alert alert-<%= key %> alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= value %>
    </div>
  </center>
  <% end %>

  <%= yield %>

</body>
 
</html>





 